# API server environment variables
RAPIDNATIVE_PROJECT_ID=XF83KcVOX7bWDg9ViiguV
RAPIDNATIVE_ENV=production
POCKETBASE_URL=http://bdaf0b66-080d-4c45-9782-a6749f3ea9df.rnproject.test/db
POCKETBASE_SERVICE_ROLE_KEY=rn_admin_REPLACE_ME
RAPIDNATIVE_GLOBAL_SERVICES_URL=http://services.rnproject.test
RAPIDNATIVE_GLOBAL_SERVICES_KEY=rn_svc_REPLACE_ME
